.input {
  color: black;
}

.tela-registro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 30vh;
}
