.cadastro-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  color: black;
  background-color: rgb(217 230 247);
}
