@font-face {
  font-family: "lifeCraft";
  src: url("./assets/fonts/LifeCraft_Font.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: #1e1e1e;
}

* {
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: #D9E6F7;
}

body::-webkit-scrollbar {
  width: 0.35em;
  background-color: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000c7;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #616161;
}

button {
  
  width: 100px;
  color: black;
  background: #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
}

li {
  list-style-type: none;
}
